$font-family: 'Poppins';
$blue: #255ca3;
$green: #53af8e;
$blue50: #f2f6fc;
$blue200: #7ea4d6;
$bluelink: #027bfc;
$black100: #f6f6f6;
$black200: #eaeaea;
$black300: #d4d5d6;
$black400: #bfc0c1;
$black500: #a0a2a4;
$black600: #87888a;
$black700: #696b6f;
$black800: #3e4146;
$black900: #292c31;
$lilac100: #fcfcff;
$lilac200: #f8f8ff;
$lilac300: #f0f1ff;
$lilac400: #e7e8ff;
$lilac500: #dcdfff;
$lilac600: #ced1f3;
$lilac700: #c3c6e8;
$lilac800: #b9bde0;
$lilac900: #999cc2;
$white: #ffffff;
$black: #000000;
$black2: #292c4f1f;
$lapis: #005ba6;
$darkGrey: #3d3d3d;
$Grey1: #545454;
$darkGrey2: #737373;
$lightGreen: #53af8e;
$ciplaBlue: #255ca3;
$ciplaHover: #005ba6;
$topPicksDesc: #696b6f;
$buttonColor: #3e4146;
$lightGreen: #53af8e;
$ciplaBlue: #255ca3;
$topPicksDesc: #696b6f;
$buttonColor: #3e4146;
$greenbutton: #53af8e;
$hoverbackgroundbutton: #00337e;
$shuttleGrey: #555670;
$tagsHover: #a7cdff;
$ciplapurple: #714194;
